:root
{
    --main-color : orange;
    --color-1 : 
}
*{
    padding: 0px;
    margin: 0px;
}
.nav1
{
   background-color: var(--main-color);
   height: 1.5vw;
   
}
.nav1 h1{
    font-size: 1vw;
    padding: 0.5vh 0vw;
}
.nav2{
    height: 9vw;
    align-content: center;
    display: flex;
    justify-content: space-around;

    
}
.nav2 img{
    height: 7vw;
    width: 7vw;
    padding: 1vh 1vw;
}
.nav2 .info 
{
    padding: 2vh 4vw;
}


/* SEARCH ************************************************************************************   */


.search-container {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 6%;
    justify-content: center;


}

.search-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#search-input {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    padding: 5px 10px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}